.cards__card
  width: 100%
  background-color: var(--color-support-b)
  padding: 1rem .5rem
  border-radius: 10px;
  overflow: hidden
  display: flex
  flex-wrap: wrap
  justify-content: center
  position: relative

  @media screen and (min-width: $queries-medium)
    justify-content: flex-end
  
  @media screen and (min-width: $queries--big)
    justify-content: space-around

.cards__card__name
  width: 100%
  text-transform: capitalize
  font-size: 1.3rem
  text-align: center
  color: var(--color-support)

.cards__card__image
  width: 8rem
  height: 8rem
  overflow: hidden
  display: flex
  justify-content: center
  align-items: center
  margin: 1rem 0
  
  @media screen and (min-width: $queries-medium)
    margin-right: 3rem
    position: relative
    top: 3rem
  
  @media screen and (min-width: $queries--big)
    order: 2
    top: 0rem
    margin-right: 0

.cards__card__image > img
  width: 100%
  height: 100%

.cards__card__detail--container
  width: 100%

  &:last-child .cards__card__detail:last-child
    border: none
    padding-bottom: 0


  @media screen and (min-width: $queries-medium)
    width: 50%
    margin-top: 1rem

    &:last-child
      margin-top: -1.5rem
  
  @media screen and (min-width: $queries--big)
    width: 33%

    &:first-child
      order: 1

    &:last-child
      order: 3
      margin-top: 1rem

.cards__card__detail
  width: 100%
  display: flex
  justify-content: space-around
  align-items: center
  border-bottom: solid 1px var(--color-main)
  margin-bottom: .5rem
  padding-bottom: .3rem

  // &:last-child
  //   border: none
  //   margin-bottom: 0
  //   padding-bottom: 0

.cards__card__detail__title
  width: 35%
  text-transform: uppercase
  font-weight: bold
  font-size: .8rem
  text-align: right
  display: flex
  justify-content: flex-end
  align-items: center

  &:after
    content: ""
    width: .7rem
    height: .7rem
    background-color: var(--color-support)
    border-radius: 50%
    margin-left: .5rem
    display: inline-block

.cards__card__detail__value
  width: 65%
  font-size: .8rem
  overflow-wrap: break-word
  font-style: italic
  padding-left: .5rem