.controls
  width: 100%
  padding: 1rem
  display: flex
  justify-content: center
  align-items: flex-start

.controls__user
  width: 100%
  margin: 1rem 0
  display: flex

.controls__map
  width: 100%
  display: flex

.controls__button
  margin-left: 1rem
  width: 6rem
  height: 2rem
  background-color: var(--color-main)
  color: var(--color-secondary)
  font-weight: bold
  border: solid 2px var(--color-secondary)
  border-radius: 5px
  transition: all 300ms ease
  transition-property: background-color, color

  &:hover
    background-color: var(--color-secondary)
    color: var(--color-main)

.controls__circle
  width: 10rem 
  display: flex
  flex-wrap: wrap
  justify-content: center

.controls__circle__range
  font-weight: bold
  color: var(--color-secondary)
  font-style: italic
  font-size: .7rem

.controls--hidden
  display: none