footer
  width: 100%
  padding: 1rem
  display: flex
  flex-wrap: wrap
  border-top: solid .5rem var(--color-support)
  margin-top: 1rem

  @media screen and (min-width: $queries-medium)
    flex-wrap: nowrap
    align-items: center

.footer__author
  width: 100%
  display: flex 
  flex-wrap: wrap

.footer__author__name
  width: 100%
  font-weight: bold
  text-align: center
  padding: .5rem
  color: var(--color-support)

.footer__author__email
  padding: 0 .5rem .5rem .5rem
  width: 100%
  font-weight: bold
  font-size: 1.3rem
  text-align: center
  color: var(--color-secondary)

.footer__repo
  margin-top: .5rem
  width: 100%
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center
  
  @media screen and (min-width: $queries-medium)
    flex-direction: column
  
  @media screen and (min-width: $queries--big)
    flex-direction: row

.footer__repo__image
  width: 8rem
  height: 8rem
  margin-right: 1rem
  overflow: hidden
  display: flex
  justify-content: center
  align-items: center

.footer__repo__image > img
  width: 100%
  height: 100%

.footer__repo__button
  width: 7rem
  height: 4rem
  background-color: var(--color-support-b)
  font-weight: bold 
  text-transform: uppercase
  font-size: .8rem
  border-radius: 10px
  border: solid 5px var(--color-secondary)
  color: var(--color-secondary)
  transition: background-color 500ms ease
  
  &:hover
    background-color: var(--color-secondary)
    color: var(--color-support-b)