header
  display: flex
  align-items: center

.figure
  width: 0
  height: 0
  border-left: solid 50px var(--color-support)
  border-top: solid 25px transparent
  border-bottom: solid 25px transparent
  margin-right: 1rem

  @media screen and (min-width: $queries-medium)
    margin-left: 3rem

h1
  width: 70%
  text-transform: uppercase
  color: var(--color-secondary)
  text-align: center

  @media screen and (min-width: $queries--big)
    text-align: left