.panel
  width: 100%
  margin: 1rem 2rem

.panel__title
  width: 10rem
  display: inline-block
  border-style: none solid solid none
  border-width: 3px
  border-color: var(--color-secondary)
  text-align: center
  font-weight: bold
  color: var(--color-secondary)
  padding: .5rem
  cursor: pointer

.panel__title--active
  background-color: var(--color-secondary)
  color: var(--color-main)