.controls
  .controls__user#controlsUser
    button(type="button" id="controlUser" class="controls__button") Nuevo Usuario
  .controls__map.controls--hidden#controlsMap
    button(type="button" id="controlRouting" class="controls__button") Trazar Ruta
    .controls__circle
      button(type="button" id="controlCircle" class="controls__button") GeoCerca
      input(type="range" min="100" max="1000" step="100" id="inputRange" value="100")
      span(class="controls__circle__range" id="rangeCircle")
    button(type="button" id="cleanMap" class="controls__button") Limpiar Mapa