footer
  .footer__author
    span(class="footer__author__email") joaquin.seyer@gmail.com
    span(class="footer__author__name") Joaquin Reyes Sanchez
  .footer__repo
    .footer__repo__image
      img(attr="Logo de Gitlab" src="https://cdn.worldvectorlogo.com/logos/gitlab.svg")
    button(class="footer__repo__button" type="button" id="toRepo") Ver codigo fuente