doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

		title IBL Test Joaquin Reyes Sanchez

		link(rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css")
		link(rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css")

	body
		include pug/header.pug
		section
			include pug/panel.pug
			include pug/controls.pug
			include pug/map.pug
			div(class="cards" id="cards")
		include pug/footer.pug

	script(src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js")
	script(src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js")
