$queries-medium: 650px
$queries--big: 900px

*
	margin: 0
	padding: 0
	border: none
	outline: none
	box-sizing: border-box

html
	font-size: 18px
	font-family: sans-serif

body
	--color-main: ivory
	--color-secondary: darkcyan
	--color-support: crimson 
	--color-support-b: lavender

	background-color: var(--color-main)
	padding: 1rem 2rem

button
	cursor: pointer

@import "sass/header.sass"
@import "sass/cards.sass"
@import "sass/card.sass"
@import "sass/footer.sass"
@import "sass/controls.sass"
@import "sass/map.sass"
@import "sass/panel.sass"